*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #D7FBE8 ;
    
}
section{
    position: absolute;
    width: 100%;
    padding-bottom: 25px;
    background-color: #1fab89;
}
h1{
    color: white;
    font-size: 30px;
    font-variant: small-caps;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 5px;
    font-weight: 500;
    text-decoration: underline;
}

p{
    color: white;
    text-align: center;
    width: 70%;
    margin-top: 5px;
}

div{
    width: 70%;
    transition: all 0.3s;
    height: 500px;
    position: relative;
    top: 200px;
    background-color: #62d2a2;
    margin-bottom: 80px;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    text-decoration: none; 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


div a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
    
    
}
div a:hover{
    text-decoration: underline;
   
    
}
div img{
    width: 50%;
    height: 40%;
    border-radius: 2px;
}


div p{
    font-size: 18px;
    
}
.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 2300px;
    background-color:#1fab89;
    display: flex;
}

footer img{
    width: 40px;
    padding-top: 20px;
    cursor: pointer;
    
}
@media screen and (min-width:320px) and (max-width: 480px) {
    h1{
        font-size: 25px;
    }
    div{
        width: 85%;
        height: 360px;
        position: relative;
        top: 230px;
    }
    div a{
        font-size: 20px;

    }
    div img{
        
    }
    div p{
        width: 85%;
        font-size: 14px;
    }
    
    footer img{
        width: 35px;
    }
    
}
@media screen and (min-width: 481px) and (max-width: 700px) {
    
    footer img{
        width: 48px;
    }

}


