*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    
}
.container-one{
    width: 80%;
    height: 500px;
    margin-top: 55px;
    border-radius: 10px;
    background-color: rgb(23, 21, 21);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.container-two{
    width: 80%;
    height: 500px;
    margin-top: 55px;
    border-radius: 10px;
    background-color: rgb(23, 21, 21);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.container-three{
    width: 80%;
    height: 500px;
    margin-top: 55px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: rgb(23, 21, 21);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}